@charset "utf-8";

.banner-titulo {
    font-family: "montserrat";
    font-weight: regular;
    font-style: normal;
    font-size: 2rem;
}

td:last-child {
  text-align: center;
  vertical-align: middle;
}
th {
    text-align: center;
    font-size: 20px ;
}
.input {
    width: 100%; 
}

.box-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.box-hover:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important; 
}

