@charset "utf-8";

.banner-titulo {
    font-family: "BBH Sans Bogle", cursive;
    font-weight: regular;
    font-style: normal;
    font-size: 2rem;
}

td:last-child {
  text-align: center;
  vertical-align: middle;
}
th {
    text-align: center;
    font-size: 20px ;
}